<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/home.css">
</head>
<body>
    <!-- Heading Div -->
    <div class="heading">
        <h1>To Do List App</h1>
    </div>

    <!-- Main Container -->
    <div class="container">
        <!-- Submit Info Form -->
        <form action="/save-task"  method="post">
            <div class="input-container">
                <div class="title-container">
                    <label for="title" class="color-class">Title:-</label>
                    <input type="text" name="title" id="title">
                </div>

                <div class="description-container">
                    <label for="desc" class="color-class">Discription:-</label>
                    <textarea id="desc" name="description" rows="4" cols="50"></textarea>
                </div>

                <div class="date-container">
                    <label for="date-input" class="color-class">End Date:-</label>
                    <input type="date" name="date" id="date-input">
                </div>
            </div>
            <div class="submit-btn">
                <button type="submit">Add Task</button>
            </div>
        </form>
        <!-- Show Task Container -->
        <div class="task-container">
            <% for(let i=0; i<allTask.length; i++){ %>
            <div class="task">
                <div class="title-box">
                    <h2><%=allTask[i].title %></h2>
                </div>
                <div class="desc-box">
                    <p><%=allTask[i].description %></p>
                </div>
                <div class="date-box">
                    <h3><%=allTask[i].endDate %></h3>
                </div>
                <div class="delete-box">
                   <a href="/delete-task/?id=<%=allTask[i]._id%>"><i class="fa-solid fa-trash"></i></a>
                </div>
            </div>
            <% } %>
        </div>
    </div>

    <script src="https://kit.fontawesome.com/14da36b949.js" crossorigin="anonymous"></script>
</body>
</html>