<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/home.css">
</head>
<body>
    <div class="heading">
        <h1>To Do List App</h1>
    </div>
    <div class="container">
        <form action="/save-task"  method="post">
            <div class="input-container">
                <div class="title-container">
                    <label for="title" class="color-class">Title:-</label>
                    <input type="text" name="title" id="title">
                </div>

                <div class="description-container">
                    <label for="desc" class="color-class">Discription:-</label>
                    <textarea id="desc" name="description" rows="4" cols="50"></textarea>
                </div>

                <div class="date-container">
                    <label for="date-input" class="color-class">End Date:-</label>
                    <input type="date" name="date" id="date-input">
                </div>
            </div>
            <div class="submit-btn">
                <button type="submit">Add Task</button>
            </div>
        </form>
    </div>
</body>
</html>